body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
}

#profile {
    display: flex;
    width: 40%;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

#photo {
    padding: 5px;
}

#photo img{
    border-radius: 10%;
}
#info {
    padding-left: 40px;
}

#map {
    height: 200px;
    width: 70%;
    margin: auto;
    margin-top: 5%;
}

@media (max-width: 415px) {
    #profile {
        flex-direction: column;
        text-align: center
    }
    #info{
        padding: 0;
    }
    #photo{
        margin-top: 40%;
    }
    #map{
        margin-top: 20%;
    }
}